/**
 * {1} The item is 2px wider and taller than it should be,
 *     to counteract floating point errors. Moving the element
 *     1px to the side and up will re-center it.
 */
.draggable {
  background-color: #2bf;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: black;
  cursor: move;
  font-family: monospace;
  margin: -1px; /* {1} */
  padding: 0;
  position: absolute;
  transition: transform 0.2s ease-out;
  will-change: transform;
  z-index: 1;

  &.preview {
    transition: none;
  }

  &[aria-grabbed="true"] {
    transition: none;
  }
}
