/**
 * {1} The item is 2px wider and taller than it should be,
 *     to counteract floating point errors. Moving the element
 *     1px to the side and up will re-center it.
 */
.draggable {
  background-position: 50% 50%;
  background-size: cover;
  cursor: move;
  margin: -1px; /* {1} */
  position: absolute;
  transition: transform 0.2s ease-out;
  will-change: transform;
  z-index: 1;

  &:not(:focus) {
    outline: none;
  }

  &.preview {
    transition: none;
  }

  &[aria-grabbed="true"] {
    transition: none;
  }
}

.inner {
  height: 100%;
}

.deleteConfirmationPositive,
.deleteConfirmationNegative {
  background-color: #fff;
  border-radius: 0.25em;
  border: 2px solid currentColor;
  box-sizing: border-box;
  color: #0d2769;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0.5rem 1.25rem;
  width: auto;
}

.deleteConfirmationPositive {
  background-color: #0d2769;
  color: #fff;
}

.deleteConfirmationButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0 0;
}
