.arrow {
  display: flex;
}

.filledArrow,
.emptyArrow:hover,
.emptyArrow:focus-within {
  button {
    opacity: 1;
    pointer-events: auto;
  }
}

.arrow button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

.shadow {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 100%;
  width: 100%;
}

.pointLeft {
  transform: rotate(180deg) translate(5px, 9px);
}

.pointUp {
  /* TODO: Fix translateX and translateY */
  transform: rotate(180deg) translateY(6px) translateX(8px);
  flex-direction: column;
  width: 56px;
}

.pointDown {
  /* TODO: Fix translateX and translateY */
  transform: rotate(0deg) translateY(-6px) translateX(-9px);
  flex-direction: column;
  width: 56px;
}

.pointRight {
  transform: rotate(0deg) translate(-6px, -9px);
}
