.mapEditorView {
  background-color: var(--theme-color-1);
  font-size: 1rem;
  overflow: hidden;
}

.gridBorder {
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  padding: 1em;
}
