$scale-offset: 0.5rem;
.scaleHandle {
  position: absolute;
}

.scaleHandleLeft,
.scaleHandleTopLeft,
.scaleHandleBottomLeft {
  left: -$scale-offset;
}

.scaleHandleRight,
.scaleHandleTopRight,
.scaleHandleBottomRight {
  right: -$scale-offset;
}

.scaleHandleTop,
.scaleHandleTopRight,
.scaleHandleTopLeft {
  top: -$scale-offset;
}

.scaleHandleBottom,
.scaleHandleBottomRight,
.scaleHandleBottomLeft {
  bottom: -$scale-offset;
}

.scaleHandleLeft,
.scaleHandleRight {
  cursor: col-resize;
  height: 100%;
  top: 0;
  width: $scale-offset;
}

.scaleHandleTop,
.scaleHandleBottom {
  cursor: row-resize;
  left: 0;
  height: $scale-offset;
  width: 100%;
}

.scaleHandleTopRight,
.scaleHandleBottomRight,
.scaleHandleBottomLeft,
.scaleHandleTopLeft {
  height: $scale-offset;
  width: $scale-offset;
}

.scaleHandleTopRight,
.scaleHandleBottomLeft {
  cursor: nesw-resize;
}

.scaleHandleBottomRight,
.scaleHandleTopLeft {
  cursor: nwse-resize;
}
